

<?xml version="1.0" encoding="utf-8"?>
<!-- plik konfiguracyjny hibernate: MAGIC, DON'T TOUCH!!!!!!!! -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pikdb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="connection.pool_size">1</property>
        <mapping class ="model.entity.User" />
        <mapping class ="model.entity.Game" />
        <mapping class ="model.entity.Group" />

    </session-factory>
</hibernate-configuration>