<!DOCTYPE html>
<html ng-app="login">
<head>
    <meta charset="UTF-8">
    <title>login</title>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="login.js"></script>
</head>
<body>

<div class="form" ng-controller="loginFormController">
    <h3>Login</h3>
    <div>
        <form name="loginForm" ng-submit="login(user)" novalidate>
            <div class="formGroup">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="Enter email"
                        ng-model="user.email">
            </div>
            <div class="formGroup">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Enter password"
                       ng-model="user.password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

</body>
</html>